@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 33% 98%;
    --foreground: 234 54% 13%;
    --card: 0 0% 100%;
    --card-foreground: 234 54% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 234 54% 13%;
    --secondary: 25 20% 94%;
    --secondary-foreground: 234 54% 13%;
    --muted: 25 15% 95%;
    --muted-foreground: 220 9% 46%;
    --accent: 25 20% 94%;
    --accent-foreground: 234 54% 13%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 25 15% 88%;
    --input: 25 15% 88%;
    --ring: 19 100% 60%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
